.root {
    display: flex;
    flex-direction: column;
}

.root > * {
    padding: 10px 0;
    align-items: center;
}
.element {
    display: flex;
}
.input {
    width: 20px;
    height: 20px;
}
.inputlabel {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-indent: 15px;
}
.removeselect {
    align-self: flex-end;
    cursor: pointer;
}

.etcinput {
    border: none;
    border-bottom: 2px solid lightgray;
    font-size: 16px;
    margin-left: 20px;
    flex-grow: 1;
}
.etcinput:focus {
    outline: none;
}